.mainmediador__circle{
    width: 500px;
    height: 500px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border:solid magenta;
    margin: auto auto;

    
}

.mainmediador__line{
    width: 250px;
    height: 0.10px;
    border:solid black;
    background-color: black;
    margin-top: 250px;
    transform: rotate(320deg); 
    transform-origin: 250px 0;

}

.mainmediador__deg{
    margin: 10px;
    font-size: 30px;
}
